/*stylesheet for rml*/

* {
	margin: 0px;
	padding: 0px;
}

@font-face {
    font-family: "raleway";
    src: url(./poly_design/fonts/Raleway-Regular.ttf) format("truetype");
}

body {
	font-family: raleway;
}

button {
	background:none!important;
	border:none; 
	padding:0!important;
	font-family: raleway;
	border-bottom:0px; 
	cursor: pointer;
	transition: opacity .4s ease-in-out;
   	-moz-transition: opacity .4s ease-in-out;
   	-webkit-transition: opacity .4s ease-in-out;
}

button:hover {
	opacity: 0.4;

}

button:focus {
	outline:0;
}

input[type="text"] {
	background-image: url("./poly_design/login_page/email.png");
	position: absolute;
	top: -25em;
	left: -9em;
	height: 42px;
	width: 355px;
    border:none; 
    padding:0!important;
    font-family: raleway;
    cursor: pointer;
    transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}

input[type="password"] {
	background-image: url("./poly_design/login_page/password.png");
	position: absolute;
	top: -20em;
	left: -9em;
	height: 42px;
	width: 355px;
    border:none; 
    padding:0!important;
    font-family: raleway;
    cursor: pointer;
    transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}

input[type="submit"] {
	background-image: url("./poly_design/login_page/signin.png");
	position: absolute;
	top: -13em;
	left: -9em;
	height: 42px;
	width: 356px;
    border:none; 
    padding:0!important;
    font-family: raleway;
    cursor: pointer;
    transition: opacity .4s ease-in-out;
   -moz-transition: opacity .4s ease-in-out;
   -webkit-transition: opacity .4s ease-in-out;
}

p {
	padding-left: 16px;
	font-family: raleway;
	color: #5C85FF;
	font-size: 14pt;
}

a {

}

#gmap {
	height: 500px;
	width: 1000px;
	/*margin-top: 35%;
	margin-bottom: 35%;
	margin-left: 15%;
	margin-right: 15%;*/
}

.wrapper {
	text-align: center;
}

.main_header {

}

.login_page {
	
}

.home {
	width: auto;
	height: auto;
	background-color: #666666;
}

.bgpic {
	background-image: url("./poly_design/homepage/background.png");
	margin-top: -10em;
	height: 60em;
	width: auto;
	/*overflow: hidden;*/
}

.icon {
	top: 1.5em;
	left: 3em;
	position: absolute;
}

.sign_up {
	top: 1.5em;
	right: 12em;
	position: absolute;

}

.login {
	top: 1.5em;
	right: 5em;
	position: absolute;

}

.homesweethome {
	top: 20em;
	position: absolute;
	left: 31%;
}

.howitworks {
	top: 27em;
	position: absolute;
	left: 42.2%;
}

#restofpage {
	margin-bottom: -13rem;
}

.information {
	background-color: #415984;
	height: 50rem;
	left: 45%;
}

.loginbg {
	/*background-image: url("./poly_design/login_page/loginbackground.png");*/
	top:20em;
	position: absolute;
	left:36%;
}

.loginform {
	top: 20em;
	position: absolute;
	left: 31%;
}

.signupform {
	top: 20em;
	position: absolute;
	left: 37%;
}

#how {
	width: 80em;
	height: auto;
	position: absolute;
	left: 5%;

}
#map_image {
	width: auto;
	height: 20em;
}
@media (max-width: 1380px) and (min-width: 1341px){
	.bgpic {
		margin-top: -8em;
	}
}
@media (max-width: 1340px) and (min-width: 1101px){
	#how {
		width: 70em;
		height: auto;
	}
	#restofpage {
		margin-bottom: -18em;
	}
	#map_image {
		height: 20em;
		width: auto;
	}
}
@media (max-width: 1330px) and (min-width: 1101px){
	.bgpic {
		margin-top: -6em;
	}
}
@media (max-width: 1200px) and (min-width: 991px) {
	#how {
		width: 60em;
		height: auto;
	}
	#restofpage {
		margin-bottom: -22em;
	}
	#map_image {
		height: 22em;
		width: auto;
	}
}
@media (max-width: 990px) {
	#how {
		width: 55em;
		height: auto;
	}
	#restofpage {
		margin-bottom: -25em;
	}
	#map_image {
		height: 25em;
		width: auto;
	}
}
@media (min-width: 650px) and (max-width: 1100px){
	.bgpic {
		margin-top: 0em;
		height: 60em;
		width: auto;
		overflow: hidden;
	}
	.homesweethome {
		left: 5em;
	}
}

@media (max-width: 649px){
	.bgpic {
		margin-top: 0em;
	}
	.homesweethome img{
		margin-left: -5em;	
		max-width: 20em;
	}
	.howitworks{
		top: 25em;
		left: 11%;
	}
}

/*
@media (min-width: 1139px) {

}*/
















